<!DOCTYPE html>

<html lang="en" class="full-height">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="~/Scripts/IndexImageFlow.js"></script>

    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />

    <title>Material Design Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="Nav-Bar/css/bootstrap.min.css" rel="stylesheet">

    <link href="Nav-Bar/css/mdb.min.css" rel="stylesheet">

    <link href="Nav-Bar/css/style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/"><img src="~/Imgs/LogoMini.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <div>


    </div>

    <div>

        @RenderBody()

    </div>

    <main class="text-center my-5">


        <div class="container">


            <div class="row">

                <div class="col-md-12">

                    <p align="justify">&copy 2018 DrinkIT - Sweden</p>

                </div>

            </div>

        </div>

    </main>

</body>

</html>

<script type="text/javascript" src="~/Nav-Bar/JS/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="Nav-Bar/js/popper.min.js"></script>

<script type="text/javascript" src="Nav-Bar/js/bootstrap.min.js"></script>

<script type="text/javascript" src="Nav-Bar/js/mdb.min.js"></script>