<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/IndexImageFlow.js"></script>

    <link href="~/CSS/RecentlySaved.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/png" href="~/Imgs/shortcutlogo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/Nav-Bar/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Nav-Bar/css/mdb.min.css" rel="stylesheet">
    <link href="/Nav-Bar/css/style.css" rel="stylesheet">
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary top-bar fixed">
        <a class="navbar-brand" href="/"><img id="headerpic"src="~/Imgs/LogoPontusProoved.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="MyPage">My Page<span class="sr-only">(current)</span></a>

                </li>
            </ul>
        </div>
        @await Component.InvokeAsync("LoggedInAsUser")
    </nav>

    <div class="RenderBody">
        @RenderBody()
    </div>


    <main class="text-center my-5 footer">
        <div class="col-md-12">
            &copy 2018 DrinkIt - Sweden
            <a asp-controller="Guest" asp-action="AboutUs">about us</a>
        </div>
    </main>
    <script type="text/javascript" src="/Nav-Bar/JS/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/Nav-Bar/js/popper.min.js"></script>
    <script type="text/javascript" src="/Nav-Bar/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Nav-Bar/js/mdb.min.js"></script>
</body>
</html>