@model DrinkUpProject.Models.ViewModels.GuestIndexLogInVM
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="LoggedInAs">
        Logged in as:  @UserManager.GetUserName(User)
    </div>
}