@model DrinkUpProject.Models.ViewModels.UserHomeVM
<div id="recentlySavedBox">
    @if (Model.RecentlySaved != null)
    {
        @foreach (var item in Model.RecentlySaved)
        {
            <div class="recentlySavedPosts">

                <div>
                    <h3>@item.DrinkName</h3>
                    <img src="@item.ImgUrl" />
                </div>

            </div>
        }
    }
</div>
