@model DrinkUpProject.Models.ViewModels.UserHomeVM

<div class="drinkfact">
    @Model.DrinkFact
</div>

<div>
    @await Html.PartialAsync("~/Views/Shared/_SearchBox.cshtml", Model.SearchForm)
</div>