@model DrinkUpProject.Models.ViewModels.UserHomeVM

@*Inte klar vy, inväntar att alla delar blir klara innan rätt delar läggs in.*@

<div class="all">

    <div id="SavedDrinks">
        @Model.DrinkFact

    </div>


    <div id="DrinkFact">
        @Model.DrinkFact
    </div>

    <div id="searchBox">
        @Model.DrinkFact
    </div>
</div>