
<div class="all">
    <div>
        User drinklist
    </div>
    <div>
        <img src="~/Imgs/Logo.png" />
        <input class="Button" type="button" name="FavDrinkButton" value="" />
        <form>
            <input class="Button" type="submit" name="EditProfileButton" value="Edit Profile" />
        </form>
        <form asp-controller="UserHome" asp-action="Home">
            <input class="Button" type="submit" name="BackToHomeButton" value="Back To Home" />
        </form>
    </div>
</div>
