@model DrinkUpProject.Models.ViewModels.GuestIndexLogInVM

@if (Model.IsLoggedIn)
{
    <div style="padding:20px">
        <form asp-controller="account" asp-action="Logout">
            <input class="btn btn-outline-teal" type="submit" value="My Page" />
        </form>
    </div>
}
