<!DOCTYPE html>
<html>
<head>
    <title>The faces behind the page</title>
</head>
<body>
    <div style="margin-top:200px; margin-left:200px">
            <h1>The faces behind the page</h1>
    </div>
    <div class="container">     
        <div class="row">
            <div class="col-sm">
                <div class="MembersDiv">
                    <strong>Henrik Söderström</strong>
                    <br />
                    <p>Mojito</p>
                    <img src="https://canvas.academy.se/images/thumbnails/6120/tS1vYtDqsZxpu015iArMZcA8T3Iihflh1ITBzfRF" />
                </div>

            </div>
            <div class="col-sm">
                <div class="MembersDiv">
                    <strong>Oscar Combes</strong>
                    <br />
                    <p>Gin & Tonic</p>
                    <img src="https://canvas.academy.se/images/thumbnails/6087/qfl9zyc7z2igGMoUVT4GRyrkmvn02Me8TC4OWiLG" />
                </div>
            </div>
            <div class="col-sm">
                <div class="MembersDiv">
                    <strong>Hanna Pawahi</strong>
                    <br />
                    <p>Vatten</p>
                    <img src="https://canvas.academy.se/images/thumbnails/6130/5jcluno3gcMGH7eg7sAhDEnlloTYePqWKwj8B7IC" />
                </div>
            </div>
            <div class="col-sm">
                <div class="MembersDiv">
                    <strong>Simon Westberg</strong>
                    <br />
                    <p>Irish Coffee</p>
                    <img src="https://canvas.academy.se/images/thumbnails/6099/VvEYbF2yqSRHXoOgOMZXQvCLMtj2k7nIqDJoGxH2" />
                </div>
            </div>
            <div class="col-sm">
                <div class="MembersDiv">
                    <strong>Åsa Tysk</strong>
                    <br />
                    <p>Tequila</p>
                    <img src="https://canvas.academy.se/images/thumbnails/6276/Ay3LutGlsn3ALWLm5IH2EtsQkVGidbz1Mero1PzU" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>