<div class="ErrorM">
    <img class="ErrorImg" src="~/Imgs/UXKetRPW.jpg" />

    <br />
    <a class="ErrorText" asp-controller="Guest" asp-action="index">
        The glass is empty and we are working hard to fill it up again. Click here to go back.
    </a>


</div>