#DrinkFact {
  padding-left: 70px; }
  #DrinkFact strong {
    font-size: 18px; }
  #DrinkFact div {
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: auto;
    border-right: 5px solid #E0EF96; }
    #DrinkFact div p {
      padding-top: 15px;
      color: black; }

#RecentlySavedDrinks {
  display: flex; }

#searchBoxHome {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  height: 100%;
  width: 210%;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-left: 5%; }

.SearchFormHome {
  flex-grow: 2;
  width: 100%;
  margin-top: 1%; }
