
﻿

//SearchResult
#SearchFormResult {
    width: 5% !important;
}

#DrinkFact {
    padding-left:30px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 200px;
    border-right: 5px solid #E0EF96;

    p {
        color: black;
    }
}

#searchBox {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    height: 100%;
    width: 210%;
    margin-top: 8%;
    margin-bottom: 3%;
    padding-left: 5%;
}

.searchItems {
    display: flex;
    flex-flow: row;
    width: 300px;
    border: 1px solid;
    border-color: #E0EF96;
    border-radius: 9px;
    padding: 1px;


    

    h3 {
        padding: 2%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
    }

    h4 {
        padding: 1%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
    }

    h5 {
        padding: 1%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
    }
}

//View for ""
.all {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    height: auto !important;
}

.LogIn {
    flex-grow: 2;
    width: 100%;
    margin-top: 10% !important;
    padding-left: 3%;
}


.SearchForm {
    flex-grow: 2;
    width: 100%;
    margin-top: 9%;
}



.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    margin-top: 37% !important;
    width: 400px;
}
//end for search ""

#searchImg {

    img {
        height: 150px;
        width: 150px;
       
    }
}


/*.Button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}*/



.form {
    font-size: 20px;
}

//Input-boxes, text and password starts here
.btn-outline-primary:hover {
    border: 2px solid #FCE17C !important;
    background-color: transparent !important;
    color: #FCE17C !important;
}


input[type=text], input[type=password], input[type=email] {
    /*width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;*/
    border: 3px solid #e0ef96;
    /*transition: 0.5s;
    outline: none;*/
    height:44px;
    
}

input#ParamUrl {
    margin-left: 4%;
}



input[type=text]:focus {
    border: 3px solid #555;
}

.validationColor {
    color: red;
}
//FOOTER STARTS HERE
div.col-md-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #E0EF96;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
//FOOTER ENDS HERE


//Home
#RecentlySavedDrinks {
    display: flex;
}
//Here begins the recipe-view
.RecipeView {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /*height: auto !important;*/
    margin-top: 5% !important;
}

#LeftBox {
    flex-grow: 2;
    width: 65%;
    padding-left: 7%;
    margin-top: 7%;
}

#MiddleBox {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: flex-start;
    /*margin-bottom: 8% !important;*/
    width: 65%;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    margin-right: 3%;
    margin-top: 8%;
    



    p {
        padding-right: 67%
    }
}


#IngTable {
    margin-bottom: 15% !important;
    box-sizing: border-box;
    border: 0px solid #FCE17C;
    border-right: 5px solid #E0EF96;
    transition: 0.5s;
    outline: none;
    width: 200px;
    padding-left: 2%;
    padding-bottom: 4%;
    width: 95%;
}

#drinkInstructions {
    box-sizing: border-box;
    border: 0px solid #FCE17C;
    border-right: 5px solid #E0EF96;
    transition: 0.5s;
    outline: none;
    width: 200px;
    padding-left: 2%;
    padding-bottom: 4%;
    width: 95%;
}

.SearchFormRec {
    flex-grow: 2;
    margin-top: 8% !important;
    width: 70%;
}

#drinkQuickFacts {
    box-sizing: border-box;
    border: 0px solid #FCE17C;
    border-right: 5px solid #E0EF96;
    transition: 0.5s;
    outline: none;
    width: 200px;
    padding-left: 2%;
    padding-bottom: 4%;
}

#recipeImg {
    img {
        height: 260px !important;
        width: 260px !important;
    }
}

.buttonsRec{
    display: flex;
    flex-direction: row !important;
}
//Create user view starts here
.container {
    display: flex;
    flex-flow: row;
    /*justify-content: space-around;*/
    align-items: flex-start;
    margin-top: 10.1%;
    height: auto !important;
    max-height: 250px;
}



.img1{
    width:150px;
    height:150px;
}
.navbar{
    z-index: 10000;
    position:fixed;

}

.footer {
    z-index: 10000;
    position: fixed;
}


#valitationColerCreateUSer{
    color:#7F7F7F
}


#colorLabel {
    color: black;
    font-weight: bold;
}

#headerpic{
width: 150px;
}

input#LogInForm_UserName {
    width: 210px;
}
input#LogInForm_Password {
    width: 210px;
}

input#buttonLoggIn {
    width: 200px;
}

input#buttonCreateUser {
    width: 200px;
}

#SearchShakeDrink {
    width: 19%;
    height: 19%;
    margin-top: 10% !important;
}

.nav-link{
    color: #7f7f7f;
}


#paddingMyPageButton{

    padding-top:30px;
}
}

.MembersDiv{
    width:180px;
}