@model DrinkUpProject.Models.ViewModels.HomeIndexVM
<form asp-controller="home" asp-action="/index">
    <input asp-for="@Model.SearchItem" /><br />
    <input asp-for="@Model.ParamUrl" type="radio" name="SearchParameter" value="Drink" checked> Drink
    <input asp-for="@Model.ParamUrl" type="radio" name="SearchParameter" value="Ingredient">Ingredient<br>



    <input type="submit" name="SubmitButton" value="Search" />
</form>

