@model DrinkUpProject.Models.ViewModels.HomeIndexVM
<form asp-controller="home" asp-action="index">
    <input asp-for="@Model.SearchItem" /><br />
    @foreach (var item in Model.Param)
    {
        <input asp-for="SelectedRole" type="radio" value="@item.Id" /> @item.RoleName
    }

    <input type="submit" name="SubmitButton" value="Search" />
</form>

@*<input type="radio" name="SearchParameter" value="Drink" checked> Drink
<input type="radio" name="SearchParameter" value="Ingredient">Ingredient<br>*@