@model DrinkUpProject.Models.ViewModels.HomeResultVM[]


<h1>DU är i Searchresult nu</h1>

@foreach (var item in Model)
{
    <p>
        name: @item.DrinkName
    </p>
    <img src="@item.DrinkImg" />

}
