@model DrinkUpProject.Models.ViewModels.UserHomeVM
<div class="all">
    <div class="container-fluid" style="margin-top:100px">
            <div >
                <div id="RecentlySavedDrinks" style="text-align:right; margin:auto; float:left">
                    @await Html.PartialAsync("~/Views/Shared/_RecentlySaved.cshtml", Model)
                </div>
            </div>
        <div class="row content">
            <div class="col-sm-7 text-left" id="DrinkFact">
                <strong>
                   You will never get enough fact about drinks
                </strong>
                <div >
                    <p>@Model.DrinkFact</p>
                </div>
            </div>
            <div class="col-sm-5">
                
                <div class="well">
                    <div id="searchBoxHome" style="text-align:left; margin:auto">
                        @await Html.PartialAsync("~/Views/Shared/_SearchBox.cshtml", Model.SearchForm)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>