@model DrinkUpProject.Models.ViewModels.UserHomeVM

@*Inte klar vy, inväntar att alla delar blir klara innan rätt delar läggs in.*@

<div class="all">

    <div id="RecentlySavedDrinks">
        @await Html.PartialAsync("~/Views/Shared/RecentlySaved.cshtml", Model.RecentlySaved)

    </div>


    <div id="DrinkFact">
        @Model.DrinkFact
    </div>

    <div id="searchBox">
        @await Html.PartialAsync("~/Views/Shared/_SearchBox.cshtml", Model.SearchForm)
    </div>
</div>