@model DrinkUpProject.Models.ViewModels.UserHomeVM
<div class="all">
    <div class="container-fluid" style="margin-top:180px">
        <div class="row content">
            <div style="float:left">
                <div id="RecentlySavedDrinks" style="text-align:right">
                    @await Html.PartialAsync("~/Views/Shared/_RecentlySaved.cshtml", Model)
                </div>
            </div>
            <div style="float:left">
                <strong>
                    Drink Fact :)!
                </strong>
                <div id="DrinkFact">
                    <p>@Model.DrinkFact</p>
                </div>
            </div>
            <div style="float:left">
                <div class="well">
                    <div id="searchBox" style="text-align:left">
                        @await Html.PartialAsync("~/Views/Shared/_SearchBox.cshtml", Model.SearchForm)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>