@model DrinkUpProject.Models.ViewModels.AccountMyPageAsyncVM
<div class="all">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="searchBox">
                    @foreach (var item in Model.DrinkList)
                    {
                        <a asp-controller="User" asp-action="Recipe" method="get">
                            <div class="searchItems">
                                <div id="searchImg">
                                    <img src="@item.strDrinkThumb" />
                                </div>
                                <div>
                                    <h3>@item.strDrink</h3>

                                    <br />
                                    <h4>
                                        @item.strAlcoholic
                                    </h4>
                                </div>
                            </div>
                        </a>
                    }

                </div>
            </div>
            <div class="col-sm">
                <form asp-controller="User" asp-action="home">
                    <input class="btn btn-outline-primary" type="submit" value="Home" />
                </form>
            </div>
        </div>
    </div>
</div>
