@model DrinkUpProject.Models.ViewModels.UserRecipeVM
<!DOCTYPE html>
<html>
<head>
    <title>Recipe</title>


</head>
<body>


    <div class="SearchForm">
        @await Html.PartialAsync("~/Views/Shared/_SearchBox.cshtml", Model.SearchForm)
    </div>

</body>
</html>
